*{
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

img{
 object-fit: cover;
 width: 8vw;
 height: 80vh;
 border-top-left-radius: 5em;
 border-top-right-radius: 5em;
 border-bottom-left-radius: 5em;
 border-bottom-right-radius: 5em;
 transition: 0.5s ease-in-out ;
}

.img-active{
    width: 50vw;
    
}

.image-container{
    margin: 2em;
}

img:hover{
    cursor:pointer
}